.footer-container {
    width: 100%;
    height: 200px;
    padding: 20px 5%;

    background-color: var(--white);
    color: var(--second-gray);

    .footer-line {
        width: 100%;
        border-top: solid 1px var(--first-gray);
    }

    .footer-content-wrap {
        padding: 30px 30px;
        display: flex;
        justify-content: space-between;

        .footer-title {
            height: fit-content;

            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 55px;
                height: fit-content;
            }
        }

        .footer-link-wrap {
            width: 80%;

            display: flex;
            justify-content: flex-end;
            gap: 10%;
            
            .link-container {
                display: flex;
                align-items: start;

                ul {
                    gap: 10px;
                    li {
                        width: 100%;
                        cursor: pointer;
                        
                        img {
                            width: 15px;
                            height: fit-content;
                        }
                    }
                }
                
            }


            
        }
    }
}
